@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .sidebar-icon {
        @apply relative flex items-center justify-center h-14 w-14 my-6 mx-auto shadow-lg bg-gray-500 text-white hover:bg-primary cursor-pointer rounded-3xl hover:rounded-xl transition-all;
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-1 min-w-max top-14 rounded-md shadow-md text-white bg-gray-800 text-xs font-bold transition-all duration-100 scale-0 origin-left; 
    }
}